// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

*,
*:after,
*:before
  box-sizing: inherit

html
  box-sizing: border-box
  font-size: 62.5%

body
  color: $color-text
  font-family: $font-family-base
  font-weight: normal
  font-size: $font-size-base
  letter-spacing: $letter-spacing-base
  line-height: $line-height-base
