// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

*,
*:after,
*:before
  box-sizing: inherit

html
  box-sizing: border-box
  font-size: 62.5%
  color-scheme: light

@media (prefers-reduced-motion: no-preference)
  html
    scroll-behavior: smooth

body
  color: $color-text
  font-family: $font-family-base
  font-weight: normal
  font-size: $font-size-base
  letter-spacing: $letter-spacing-base
  line-height: $line-height-base
  overflow-wrap: break-word
  text-rendering: optimizeLegibility

// Print
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@media print
  *,
  *:before,
  *:after
    background: transparent !important
    color: #000 !important
    box-shadow: none !important
    text-shadow: none !important

  body
    font-size: 12pt
    line-height: 1.5

  a,
  a:visited
    text-decoration: underline

  a[href]:after
    content: " (" attr(href) ")"

  a[href^="#"]:after,
  a[href^="javascript:"]:after
    content: ""

  abbr[title]:after
    content: " (" attr(title) ")"

  pre,
  blockquote
    border: 1px solid #999
    break-inside: avoid
    page-break-inside: avoid

  img,
  table
    break-inside: avoid
    page-break-inside: avoid

  p
    orphans: 3
    widows: 3

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    break-after: avoid
    page-break-after: avoid
