// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit']
  background-color: $color-interactive
  border: .1rem solid $color-interactive
  border-radius: $border-radius
  color: $color-interactive-text
  cursor: pointer
  display: inline-block
  font-size: 1.1rem
  font-weight: 700
  height: 3.8rem
  letter-spacing: .1rem
  line-height: 3.8rem
  padding: 0 3.0rem
  text-align: center
  text-decoration: none
  text-transform: uppercase
  white-space: nowrap

  &:focus,
  &:hover
    background-color: $color-interactive-hover
    border-color: $color-interactive-hover
    color: $color-interactive-text

  &:focus
    outline: 2px solid $color-interactive
    outline-offset: 2px

  &[disabled]
    cursor: default
    opacity: .5

    &:focus,
    &:hover
      background-color: $color-interactive
      border-color: $color-interactive

  &.button-outline
    background-color: transparent
    color: $color-interactive

    &:focus,
    &:hover
      background-color: transparent
      border-color: $color-interactive-hover
      color: $color-interactive-hover

    &[disabled]

      &:focus,
      &:hover
        border-color: inherit
        color: $color-interactive

  &.button-clear
    background-color: transparent
    border-color: transparent
    color: $color-interactive

    &:focus,
    &:hover
      background-color: transparent
      border-color: transparent
      color: $color-interactive-hover

    &[disabled]

      &:focus,
      &:hover
        color: $color-interactive
